<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding Form</title>
</head>

<body>
    <h1>Onboarding Form</h1>
    <form method="post">
        <label>First namw:</label><br>
        <input type="text" name="given_name" required><br><br>

        <label>Middle name (optional):</label><br>
        <input type="text" name="middle_name"><br><br>

        <label>last name:</label><br>
        <input type="text" name="last_name" required><br><br>

        <label>Birth date (dd-mm-jjjj):</label><br>
        <input type="text" name="birth_date" required><br><br>

        <label>Department:</label><br>
        <select name="department" required>
            <option value="IT department">IT department</option>
            <option value="HR department">HR department</option>
        </select><br><br>

        <input type="submit" value="Versturen">
    </form>
</body>
</html>
